---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
  title: string;
  description: string;
  updatedDate?: Date;
  heroImage?: string;
}

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body>
    <Header />
    <div class="satori-og-banner">
      <p>
        <strong>Notice</strong>: During the <span>build</span> process, the image
        will be replaced with the generated <strong>Open Graph</strong> image.
      </p>
      <p>
        In <span>development</span> mode, a <strong>custom</strong> placeholder image
        is used instead.
      </p>
      <p>
        Current image: <a href={heroImage} target="_blank">{heroImage}</a>.
      </p>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
